.container-ctlg{
  position: relative ;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  }
.container-ctlg2{
  padding: 1rem;
  position: relative ;
  display: flex; top: 13rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  }
.container-ctlg3{
  padding: 1rem;
  position: relative ; top: 26rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  }

  .stylebuttonC{
    filter: drop-shadow(0px 0px 0px);
    border-radius: 0.3rem;
    border: none;
    background-color:transparent;
    width: 18rem;
    height: 21rem;
    cursor: pointer;
    transition:  background-color 0.1s ease, color 0.1s ease, transform 0.3s ease;
    margin-right: -10px; margin-left: -10px; margin-top: -3px; 
  }
  
  .stylebutton:hover{
    background-color: transparent;
    transform: scale(1.05);  
    filter: drop-shadow(0px 0px 20px #0000004b);
  }

.container{
  position: relative; top: 3rem;
  filter: drop-shadow(0px 0px 10px #0000009a);
  overflow: hidden;
  height: 600px;
  position: relative;
}

.carrossel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 1s ease-in-out;
  transform: translateX(0);
}

img.vitrine1{
  margin-top: 0px;
  border-radius: 0.5rem;
  margin-right: 5px;
  width: 350px;
  height: 400px;
}
img.vitrine2{
  margin-top: 0px;
  border-radius: 0.5rem;
  margin-right: 5px;
  width: 350px;
  height: 400px;
}
img.vitrine3{
  margin-top: 0px;
  border-radius: 0.5rem;
  margin-right: 5px;
  width: 350px;
  height: 400px;
}

img.vitrine4{
  margin-top: 0px;
  border-radius: 0.54;
  margin-right: 5px;
  width: 350px;
  height: 400px;
}

.carrossel-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h1{  border-radius: 0.5rem;
  font-family: Inter;
  font-size: 70px;
  color:#6a3611;
  position: relative; 
  top:5rem; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coleções{
display: flex;
flex-direction: row;
justify-content: start;
margin-left: 2rem;

}

.verão{
font-family: inter;
font-size: 40px;
color:#6a3611;
}
.inverno{
color:#6a3611;
font-size: 40px;
font-family: inter;
position: relative;
top: 35rem; left: -19rem;
}

.outono{
color:#6a3611;
font-size: 40px;
font-family: inter;
position: relative;
top: 70rem; left: -7.5rem;
}

section.slider{
  margin: 0 auto;
  width: 80%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content{
  width: 400%;
  height: auto;
  display: flex;

}

.slider-content input{
  display: none;
}

.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 38%;
  display: flex;
  justify-content: center;

}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;

}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;

}

.nav-manual .manual-btn:hover{
  background-color: black;

}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
  background-color: black;
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}
